{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block contactactive %} active {% endblock contactactive %}
{% block body %}
<div class="container my-3">
    <h3>Contact Me</h3>
    <form method="post" action="/contact">{% csrf_token %}
        <div class="form-group my-2">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="First + Last name">
        </div>
        <div class="form-group my-2">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="xyz@gmail.com">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group my-2">
            <label for="phone">Phone number</label>
            <input type="phone" class="form-control" name="phone" id="phone" placeholder="+977****" >
        </div>
        <div class="form-group my-2">
            <label for="content">write your querise .</label>
            <textarea class="form-control" name="content" id="content" cols="30" rows="5" placeholder="Must be at least 20 words"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" >Submit</button>
    </form>
</div>
{% endblock body %}


<!--video:79-->