{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block homeactive %} active {% endblock homeactive %}
{% block body %}





<div class="container my-3">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to My site </h1>
        <p class="lead">Information is vast lets overcome with coding and vfx .</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="/blog" role="button">Go to Blog</a>
    </div>
</div>
<div class="container">
<h2>Popular Blogs:</h2>
    <div class="row no-gutters border rounded overflow-hidden flex-md-row my-4 mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">World</strong>
            <h3 class="mb-0">Featured post</h3>
            <div class="mb-1 text-muted">Nov 12</div>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <!--div class="my-2"><a href="/blog/blogpost" role="button" class="btn btn-primary">Continue reading</a></!--div>
        -->
    </div>
</div>




{% endblock body %}