

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="ekka.css">
  <title>Assignment Solution for Module 2</title>
</head>
<body>

  <div class="container">
    <div class="row">
    <h1>Our Menu</h1>
      <section>
        <div class="section col-lg-4 col-md-6 col-sm-12">
        <div class="chicken ">
          <h3>Chicken</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, molestias, cumque! Odio illum quisquam sint porro exercitationem natus in consectetur blanditiis sunt, dolor aliquam magnam necessitatibus nobis mollitia quo obcaecati!
          </p>
        </div>
      </div>
      </section>

      <section>
        <div class="section col-lg-4 col-md-6 col-sm-12">
        <div class="beef">
          <h3>Beef</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, molestias, cumque! Odio illum quisquam sint porro exercitationem natus in consectetur blanditiis sunt, dolor aliquam magnam necessitatibus nobis mollitia quo obcaecati!
          </p>
        </div>
        </div>
      </section>

      <section>
        <div class="section col-lg-4 col-md-12 col-sm-12">
        <div class="sushi ">
          <h3>Sushi</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, molestias, cumque! Odio illum quisquam sint porro exercitationem natus in consectetur blanditiis sunt, dolor aliquam magnam necessitatibus nobis mollitia quo obcaecati!
          </p>        
        </div>
        </div>
      </section>
    </div>
  </div>

</body>
</html>


<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewpoint" content="width=device width, initial-scale=1">
<link rel="stylesheet" href="css/style.css">
  
  </head>
<body>
<div class="container">
<div class="row">
  <h1>menu</h1>
  <section>
   <div class="col-sm-12 col-lg-4 col-md-6">
      
         <h2 class="chicken">Chicken</h2>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, molestias, cumque! Odio illum quisquam sint porro exercitationem natus in consectetur blanditiis sunt, dolor aliquam magnam necessitatibus nobis mollitia quo obcaecati!</p>
      
   </div>
   </section>

   <section>
   <div class="col-sm-12 col-lg-4 col-md-6">
     
         <h2 class="chicken">Chicken</h2>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, molestias, cumque! Odio illum quisquam sint porro exercitationem natus in consectetur blanditiis sunt, dolor aliquam magnam necessitatibus nobis mollitia quo obcaecati!</p>
     
   </div>
   </section>

   <section>
   <div class="col-sm-12 col-lg-4 col-md-12">
      <div class="section">
         <h2 class="chicken">Chicken</h2>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, molestias, cumque! Odio illum quisquam sint porro exercitationem natus in consectetur blanditiis sunt, dolor aliquam magnam necessitatibus nobis mollitia quo obcaecati!</p>
    </div>
     </section>
  
</div>



</body>
</html>
 -->