{% extends 'base.html' %}
{% block title %} Blog-Home {% endblock title %}
{% block js %}
<script>
let previews=document.getElementsByClassName('preview');
Array.from(previews).forEach((element)=>{
    element.innerHTML = element.innerText;
})
</script>
{% endblock js %}
{% block blogactive %} active {% endblock blogactive %}
{% block body %}
<div class="container my-3">
    <h2>Coding articles </h2>
    {% for post in allPosts %}
    
    <div class="row no-gutters border rounded overflow-hidden flex-md-row my-4 mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Artice by  {{post.author}}</strong>
            <h3 class="mb-0 "><a class="text-dark" href="/blog/{{post.slug}}">{{post.title}}</a></h3>
            <div class="mb-1 text-muted">{{post.datetime}}</div>
            <p class="card-text mb-auto">
            <div class="preview">
            {{post.content|safe|truncatechars:500}}
            </div>
            </p>
            <div class="my-2"><a href="/blog/{{post.slug}}" role="button" class="btn btn-primary">Continue reading</a></div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock body %}