{% extends 'base.html' %}
{% block title %} Blog-Post {% endblock title %}
{% block blogpostactive %} active{% endblock blogpostactive %}
{% block body %}
{% load humanize %}
{% load extras %}




<div class="container my-2">
    <h2 class="blog-post-title">{{post.title}}</h2>
    <p class="blog-post-meta">{{post.timeStamp}} by {{post.author}}</p>
    <p>{{post.content|safe}}.</p>
    <hr>
</div>
<div class="container">
    <span class="badge badge-secondary">
        <h2>Comments({{comments.count}})</h2>
    </span>
    <div class="my-2">
        {% if user.is_authenticated %}
        <form action="/blog/postComment" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1">Post Comment</label>
                <input type="text" class="form-control" name="comment" placeholder="Your comment">
            </div>
            <input type="hidden" name="postSno" value="{{post.sno}}">
            <input type="hidden" name="parentSno" value="">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% else %}
        <p>Please login to post comment</p>
        {% endif %}
    </div>
    {% for comment in comments %}
    <div class="row my-3">
        <div class="col-md-2 ">
            <img class="rounded mx-auto d-block w-50 p-2 border border-dark" src="/static/img/user.png" alt="user">
        </div>
        <div class="col-md-10 border ">
            <b>{{comment.user.username}}</b> <span class="badge badge-secondary">{{comment.timestamp | naturaltime}}</span>
            <div>{{comment.comment}}</div>
            <div class="reply mx-0">
            {% if user.is_authenticated %}
                <button class="btn btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#replyBox{{comment.sno}}" aria-expanded="false" aria-controls="replyBox{{comment.sno}}">
                    Reply
                </button>
                
                <div class="collapse" id="replyBox{{comment.sno}}">
                    <div class="card card-body my-2">
                        <form action="/blog/postComment" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="comment">Post Reply</label>
                                <input type="text" class="form-control" name="comment" placeholder="Your comment">
                                <input type="hidden" name="parentSno" value="{{comment.sno}}">
                            </div>
                            <input type="hidden" name="postSno" value="{{post.sno}}">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
                {% else %}
                <button class="btn btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#replyBox{{comment.sno}}" 
                aria-expanded="false" aria-controls="replyBox{{comment.sno}}" disabled>
                    Login to Reply
                </button>


                {% endif %}
                <!----for reply handling-->
                <div class="replies  my-2">
                    {% for reply  in replyDict|get_val:comment.sno %}
                    <div class="row my-1">
                        <div class="col-md-2 ">
                        <img class="rounded mx-auto d-block w-50 p-2 border border-dark" src="/static/img/user.png" alt="user">
                        </div>
                        <div class="col-md-10">
                            
                            <b>{{reply.user.username}}</b> 
                            <span class="badge badge-secondary">{{reply.timestamp | naturaltime}}</span>
                            <div>{{reply.comment}}</div>

                        </div>
                        <br>
                        
                    </div>
                    
                    
                    
                    {% endfor %}

                
                
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock body %}